{%  extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Librairie Lorem Ipsum</h1>
        <p>Gérer les livres</p>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{  message }}
            </div>
        {% endfor %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titres</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>
                            <button class="btn btn-default">
                                <a href="{{ path( 'admin.book.edit', { id: book.id } ) }}">Editer</a>
                            </button>
                            <form method="post" action="{{ path( 'admin.book.delete', { id: book.id } ) }}" style="display: inline-block" onsubmit="return confirm( 'Etes vous vraiment sûr ?' )">
                                <input type="hidden" name="_token" value="{{ csrf_token( 'delete' ~ book.id ) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path( 'admin.book.new' ) }}" class="btn btn-primary">Créer un nouvel enregistrement</a>
        </div>
    </div>
{% endblock %}